/*body*/
body {
  font-family: "roboto", "sans-serif";
}

/*header*/
.caixa-header {
  background-color: lightskyblue;
}

marquee {
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 18px;
}

.minha-conta-header {
  background-color: lightskyblue;
  height: 18px;
  padding: 10px;
}

.container-logo img {
  height: 100px;
  margin: 5px 0;
}

.container-name {
  position: absolute;
  display: flex;
  right: 10px;
  top: 50px;
  font-size: 18px;
  text-align: right;
}

.menu {
  position: absolute;
  display: flex;
  right: 10px;
  top: 80px;
  font-size: 30px;
  color: black;
}

.menu i {
  cursor: pointer;
}

.container-itens-cart {
  background-color: black;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 0 3px;
  height: 22px;
  position: absolute;
  right: 45px;
  top: 15px;
}

.itens-cart {
  font-size: 16px;
  color: white;
}

.menu-icon {
  margin-left: 20px;
}

.legenda-menu {
  font-size: 14px;
}

.sub-menu {
  display: none;
  background-color: lightcoral;
  color: white;
  position: absolute;
  right: -5px;
  top: 30px;
  z-index: 20;
}

.sub-menu li {
  border: solid 1.5px white;
  padding: 10px;
  text-align: right;
  width: 120px;
  font-size: 16px;
  cursor: pointer;
}

.sub-menu li:hover {
  color: lightcoral;
  background-color: white;
}

.sub-menu li i {
  position: absolute;
  left: 10px;
}

.sub-menu li a {
  text-decoration: none;
  color: white;
}

.sub-menu li:hover a {
  color: lightcoral;
}

/*conteudo*/
.conteudo {
  background-color: white;
}

.page-select {
  display: none;
}

/*carrosel imagens*/
.slider-container {
  width: 100%;
  margin: 0 auto;
}

.slider {
  display: block;
  width: 80%;
  margin: auto;
}

.slider li {
  list-style: none;
}

.slider img {
  margin: auto;
  height: 100%;
  width: 100%;
  vertical-align: top;
  opacity: 0;
  visibility: hidden;
  display: none;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider input {
  display: none;
}

.slider label {
  display: none;
}

.slider li input:checked ~ img {
  opacity: 1;
  visibility: visible;
  z-index: 10;
  display: block;
}
/*info site*/
.info-site {
  width: 100%;
  background-color: lavender;
  padding: 20px 0;
  text-align: center;
  display: flex;
}

.itens-info {
  display: inline-block;
  margin: 20px auto;
  line-height: 1.5;
}

.itens-info i {
  font-size: 50px;
  border: solid 3px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 30px;
  margin-bottom: 15px;
}

.itens-info h3 {
  font-weight: bold;
  font-size: 20px;
}

/*fomrulário Cadastro*/
.container-formulario-cadastro {
  background-color: white;
  width: 100%;
  display: block;
  text-align: center;
  padding: 20px 0 30px;
}

.titulo-formulario-cadastro {
  font-size: 30px;
  font-weight: bold;
  color: lightcoral;
  padding-bottom: 20px;
  text-align: center;
}

.formulario-cadastro {
  width: 800px;
  padding: 0 20px;
  margin: 0 auto;
  border: solid 3px lightcoral;
  border-radius: 30px;
  font-size: 22px;
  text-align: center;
  background-color: lightgray;
}

.input-container-cadastro {
  display: block;
  margin: 40px auto;
  color: lightcoral;
  text-align: center;
}

.icon-label {
  display: inline-block;
  margin-right: 10px;
}

.input-container-cadastro label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}

.input-container-cadastro input {
  width: 300px;
  height: 25px;
  margin: 0 auto;
  font-size: 20px;
  padding: 10px 20px;
  border: solid 3px lightcoral;
  border-radius: 20px;
  text-align: center;
  color: lightcoral;
  background-color: white;
  display: block;
}

.input-container-cadastro input::placeholder {
  color: lightcoral;
  opacity: 0.5;
}

.input-container-cadastro input:focus-visible {
  background-color: lightcoral;
  color: white;
  outline: none;
}

.input-container-cadastro span {
  font-size: 16px;
  margin-top: 5px;
}

#name-input-cadastro {
  text-transform: capitalize;
}

.button-form-cadastro {
  border: none;
  border-radius: 20px;
  font-size: 25px;
  padding: 10px 20px;
  cursor: pointer;
  width: 200px;
  margin: 0 auto 30px;
}

#button-submit-cadastro {
  background-color: lightcoral;
  border: solid 3px white;
  color: white;
}

#button-submit-cadastro:hover {
  border: solid 3px lightcoral;
}

#button-submit-cadastro:disabled {
  border: solid 3px darkgray !important;
  background-color: darkgray !important;
  cursor: default !important;
}

#button-cancel-cadastro {
  background-color: white;
  border: solid 3px white;
  color: lightcoral;
}

.helperForm {
  display: none;
  color: red;
}

.valid-password-container {
  width: 280px;
  padding: 15px;
  margin: 5px auto 0;
  background: white;
  font-size: 0.875em;
  border-radius: 5px;
  box-shadow: 0 1px 3px lightcoral;
  border: 1px solid lightcoral;
  display: none;
}

.valid-password-container h2 {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
  font-weight: bold;
  color: gray;
}

.valid-password-container .helperPassword {
  display: block;
  font-size: 14px;
  color: black;
  text-align: left;
  display: flex;
  align-items: center;
  padding: 2.5px 0;
}

.valid-dot {
  margin-right: 6px;
}

.valid-success,
.valid-error {
  margin-right: 6px;
  display: none;
}

/*footer*/
.footer-container {
  background-color: lightcoral;
  width: 100%;
  text-align: left;
  padding: 30px 0;
}
.footer-container .footer-content-1,
.footer-container .footer-content-2,
.footer-container .footer-content-3 {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footer-container .footer-content-1 {
  width: 30%;
  margin-left: 20px;
}
/*  logo */
.footer-container .footer-content-1 img {
  height: 90px;
  border-radius: 20px;
  display: inline-block;
}
.footer-text-empresa {
  display: inline-block;
}
.footer-container h3 {
  color: white;
  letter-spacing: 1px;
  font: italic 30px "Cookie", cursive;
  padding: 0px 0px 10px;
}
.footer-container h3 span {
  color: #3f71ea;
  font: oblique 25px "Cookie", cursive;
  font-weight: bold;
  padding: 10px;
}
/* Footer links */
.footer-container .footer-p {
  color: white;
  margin: 20px 0 20px;
  transition: 0.5s all;
}
.footer-container .footer-p a {
  display: inline-block;
  text-decoration: none;
  color: white;
  margin: 0px 8px 0px 0px;
  padding-left: 3px;
  border-left: 2px solid white;
}
.footer-container .footer-p a:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
}
/* Footer content-2 */
.footer-container .footer-content-2 {
  width: 35%;
  font-size: 14px;
}
.footer-container .footer-content-2 i {
  background: white;
  color: lightcoral;
  font-size: 15px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  margin: 10px;
  vertical-align: middle;
}
.footer-container .footer-content-2 p {
  display: inline-block;
}
.footer-container .footer-content-2 p a {
  color: white;
  text-decoration: none;
}
/* Footer content-3 */
.footer-container .footer-content-3 {
  width: 30%;
}
.footer-container .footer-empresa {
  line-height: 22px;
  color: white;
  font-size: 14px;
  font-weight: 200;
}
.footer-container .footer-empresa span {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: bolder;
  margin-bottom: 20px;
}
.footer-container .footer-icons .fa {
  background: #fff;
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 50%;
  color: white;
  text-align: center;
  padding: 5px;
  margin: 5px 5px 12px 12px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 34px;
}
.footer-icons .fa:hover {
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
.footer-icons a:nth-child(1) .fa {
  color: #054daa;
}
.footer-icons a:nth-child(2) .fa {
  color: #bd0d9f;
}
.footer-container .footer-content-3 p {
  color: white;
  font-size: 13px;
  padding: 10px;
}
.footer-container .copyright {
  width: 100%;
}
.footer-container .copyright p {
  text-align: center;
  color: white;
  padding: 5px;
  font-size: 12px;
}

/*Escondendo scrollbar*/

::-webkit-scrollbar {
  display: none;
}

/*telas menores*/
@media (max-width: 900px) {
  .slider {
    width: 100%;
  }

  .formulario-cadastro {
    width: 80%;
  }

  footer {
    position: static;
  }

  .footer-container {
    padding: 10px 0;
  }

  .footer-container .footer-content-1,
  .footer-container .footer-content-2,
  .footer-container .footer-content-3 {
    display: block;
    width: 100%;
    text-align: center;
  }

  .footer-container .footer-content-1,
  .footer-container .footer-content-2,
  .footer-container .footer-empresa {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .footer-container .footer-content-2 i {
    margin-left: 0;
  }

  .footer-container h3 {
    font-size: 20px;
  }

  hr {
    margin: 0 auto 0;
    width: 70%;
  }
}

@media (max-width: 480px) {
  .container-logo {
    margin-top: 5px;
  }

  .input-container-cadastro input {
    width: 80%;
  }

  .valid-password-container {
    width: 75%;
  }
}
